<p>
    <a href="http://play.google.com/store/apps/details?id=com.cocktaildepot">
      <img alt="Android app on Google Play" src="http://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
    </a>
</p>